<section class="bg-gray-800 dark:bg-slate-900">
    <div class="flex flex-wrap p-4 lg:p-28">
      <div class="lg:w-1/2 p-8 lg:p-0">
        <img src="assets/img/perfil4.jpg" class="shadow-lg lg:w-3/4"  alt="foto de ivan manuel morillo"/>
      </div>
      <div class="lg:w-1/2 -mt-28 lg:mt-0">
        <div class="bg-blue-900  bg-opacity-80">
          <div class="p-8 text-white">
            <h1 class="text-3xl font-semibold">Acerca de Mi ...</h1>
            <div class="w-92 bg-sky-400 h-1"></div>
            <p class="mt-5">
              Desarrollador con más de 5 años de experiencia en el medio laboral, trabajando con tecnologías
              como Angular, Nodejs, Php, Mysql, Mongodb, entre otras.<br> <br> Empático con gusto por mi
              trabajo y buscando mejorar cada día en mi desarrollo personal y profesional juntó a nuevas personas 
              y nuevas experiencias.
            </p>
            <h4 class="mt-5 font-semibold text-xl">Información de Contacto.</h4>
            <div class="w-64 bg-sky-400 h-1"></div>
  
            <ul class="mt-4">
              <li class="p-3">
                <a target="_blank" href="https://linkedin.com/in/manuel1997" class="flex items-center cursor-pointer hover:text-sky-500">
                <i class="icon-linkedin"></i>
                <strong class="ml-2">Linkedin</strong>
              </a>
              </li>
              <li class="p-3">
                <a target="_blank" href="https://www.facebook.com/manuel.araujo.1481" class="flex items-center cursor-pointer hover:text-sky-500">
                  <i class="icon-face"></i>
                  <strong class="ml-2">Facebook</strong>
                </a>
              </li>
              <li class="p-3">
                <a type="button" (click)="toggleModal()" class="flex items-center cursor-pointer hover:text-sky-500">
                  <i class="icon-gmail"></i>
                  <strong class="ml-2">Email</strong>
                </a>
              </li>
            </ul>
  
          </div>
  
  
        </div>
      </div>
    </div>
    <div class="bg-cover bg-center h-60 -mt-52" style="background-image: url(assets/img/wave.svg)"></div>
  </section>