<section class="bg-rojo dark:bg-gray-900">
    <div class="p-8 lg:p-20">
      <div class="grid grid-cols-1 sm:grid-cols-2  gap-10 mx-auto  items-center max-w-6xl mx-auto">
        <div class="md:mr-6 lg:text-left text-center text-white">
          <h1 class="font-bold text-2xl lg:text-4xl lg:pr-6">
            Herramientas que utilizo en mi stack como desarrollador web.
          </h1>
          <p class="mt-4 text-xl font-medium">
             Innovando con nuevas tecnologías y tendencias en el mercado laboral.
          </p>
        </div>
        <div class="container ml-3 p-2 lg:p-0">
          <div class="bg-sky-500 right-8	relative h-56 rounded-md">
          </div>
          <div
            class="md:rounded-md  bg-white dark:bg-gradient-to-r from-amarillo via-gray-300 to-sky-500 rotate-3  md:shadow-2xl -ml-4 -mt-44 p-12  space-y-2">
            <div class="px-4 grid grid-cols-2  gap-3  mx-auto">
              <a target="_blank" href="https://es.wikipedia.org/wiki/Angular_(framework)">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/angular.png" width="140" alt="angular">
              </a>
              <a target="_blank" href="https://es.wikipedia.org/wiki/Node.js">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/node.png" width="100" alt="node">
              </a>
              <a target="_blank" href="https://es.wikipedia.org/wiki/Laravel">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/laravel.png" width="200" alt="laravel">
              </a>
              <a target="_blank" href="https://es.wikipedia.org/wiki/MongoDB">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/mongo.png" width="100" alt="mongo">
              </a>
              <a target="_blank" href="https://es.wikipedia.org/wiki/MySQL">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/mysql.png" width="100" alt="mysql">
              </a>
              <a target="_blank" href="https://es.wikipedia.org/wiki/Git">
                <img class="cursor-pointer transition ease-in-out hover:scale-110" src="assets/img/git.png" width="100" alt="git">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg class="absolute overflow-hidden bg-rojo dark:bg-amarillo" preserveAspectRatio="none" version="1.1"
      viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </section>
  