<footer class="text-gray-400 bg-gray-700 body-font">
    <div class="container px-5 lg:px-28 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <i class="icon-code w-6"></i>
        <span class="ml-3 text-xl flex flex-inline">Ivan Morillo</span>
      </a>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2022 Desarrollador web </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a target="_blank" href="https://linkedin.com/in/manuel1997" class="cursor-pointer">
          <i class="icon-linkedin w-6"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/manuel.araujo.1481" class="ml-3 cursor-pointer">
          <i class="icon-face w-6"></i>
        </a>
        <a type="button" (click)="toggleModal()" class="ml-3 cursor-pointer">
          <i class="icon-gmail w-6"></i>
        </a>
      </span>
    </div>
  </footer>